<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="myget" value="https://www.myget.org/F/tigra-astronomy/api/v3/index.json" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="teamcity-osl" value="https://teamcity.devops.oceansignal.com/guestAuth/app/nuget/feed/OceanSignal/OceanSignal/v3/index.json" />
    <add key="teamcity-oss" value="https://teamcity.devops.oceansignal.com/guestAuth/app/nuget/feed/TimOss/OSS/v3/index.json" />
    <add key="cache" value="C:\Users\Tim.Long\.nuget\packages" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="TA.*" />
      <package pattern="Timtek.*" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="myget">
      <package pattern="TA.*" />
      <package pattern="Timtek.*" />
    </packageSource>
    <packageSource key="teamcity-osl">
      <package pattern="TA.*" />
      <package pattern="Timtek.*" />
      <package pattern="OSL.*" />
    </packageSource>
    <packageSource key="teamcity-oss">
      <package pattern="OSL.AisParser" />
    </packageSource>
    <packageSource key="cache">
      <package pattern="TA.*" />
      <package pattern="Timtek.*" />
      <package pattern="*" />
      <package pattern="OSL.*" />
    </packageSource>
    <packageSource key="Microsoft Visual Studio Offline Packages">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>